$body-bg: #2f3136;
$modal-content-bg: $body-bg;
$body-color: #efefef;
$modal-content-content: $body-color;
$theme-colors: (
    "primary": #1584cd,
    "danger": #e53935,
    "warning": #ffd600,
    "info": #00897b,
    "success": #43a047,
    "dark": darken($body-bg, 2.5%),
    "extra": #5E35B1,
    "extra2": #6D4C41,
);
$toast-background-color: map-get(
    $map: $theme-colors,
    $key: "success"
);
$toast-color: $body-color;

code {
    color: map-get(
        $map: $theme-colors,
        $key: "success"
    );
}
